<%- include('header') -%>
<div class="container">
    <div class="row">
        <div class="col-12">
            <br /><br />
        </div>
        <div class="row">
            <div class="col-4">
                <br />
            </div>
            <div class="col-5">
                <h1 style="color:#000">Holnemvolt földi tündérek</h1>
            </div>
        </div>
        <div class="col-12">
            <br /><br /><br /><br />
        </div>
            <div class = "col-5">
                <br />
            </div>
            <div class = "col-4">
                <a href="/tunder/new"  type="button" class="btn btn-secondary" style="font-size:25px">Új tündér felvétel</a>
            </div>
    <div class="col-12">
        <br /><br />
    </div>
        <div class = "col-5">
            <br />
        </div>
        <div class = "col-4">
            <a href="/tunder" class="btn btn-block btn-secondary" style="font-size:25px">Tündérek listázása</a>
    </div>
    <div class="col-12">
        <br /><br />
    </div>
        <div class = "col-5">
            <br />
        </div>
        <div class = "col-4">
            <a href="/varazsige/new" class="btn btn-block btn-secondary" style="font-size:25px">Új varázsige felvétele</a>
        </div>
        <div class="col-12">
            <br /><br />
        </div>
        <div class = "col-5">
            <br />
        </div>
        <div class = "col-4">
            <a href="/varazsige" class="btn btn-secondary" style="font-size:25px">Varázsigék listázása</a>
        </div>
        <div class="col-12">
            <br /><br />
        </div>
    </div>

</div>
<%- include('footer') -%>