<%- include('header') -%>
<div class="col-12">
    <br /><br />
</div>
<div class="row">
    <div class="col-4">
        <br />
    </div>
    <div class="col-5">
        <h1 style="color:#000">Varázsige
            <% if (typeof spell === 'undefined') { %>
                létrehozás
            <% }else{ %>
                módosítás
            <% } %></h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="POST">
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="nev">Név</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   value="<%= (typeof spell === 'undefined') ? '' : spell.name %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="hossz">Hosszúság(s)</label>
                            <input type="text" class="form-control" id="duration" name="duration"
                                   value="<%= (typeof spell === 'undefined') ? '' : spell.duration %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-6">
                        <div class="form-group form-check">
                            <label for="wandNeeded2">Kell pálca?</label>
                            <input type="checkbox" id="wandNeeded" name="wandNeeded"
                                   value=true></label>
                            <label for="wandNeeded">Igen</label>
                            <input type="checkbox" id="wandNeeded" name="wandNeeded"
                                   value=false></label>
                            <label for="wandNeeded2">Nem</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-5">
                        <input type="submit" class="btn btn-secondary" value="Mentés"/>
                        <a class="btn btn-light" href="/">Mégsem</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<%- include('footer') -%>